* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-image: url("./assets/bg.jpg");
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    height: calc(120px + 32px);
}

header div {
    width: 120px;
    margin: auto;
    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;
    display: flex;
    padding: 4px;
    transition: transform .3s;
}

header div:hover {
    transform: scale(1.1);
}

header img {
    width: 100%;
    border-radius: 50%;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
    display: grid;
    margin-bottom: 48px;
}

section {
    color: white;
    margin-top: 48px;
    border-radius: 8px;
    padding-top: 4px;

    background: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
}

section ul li {
    margin-right: 16px;
    margin-top: 16px;
    transition: transform .3s;
}

section ul li:hover {
    transform: scale(1.1);
}

.game-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    border-radius: 50%;
    width: 70px;
}

header div {
    animation: fromTop .7s .2s backwards;
}

main section {
    animation: fromBottom .7s backwards;
}

main section:nth-child(1) {
    animation-delay: 0;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}